/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*reset end*/
body {
	font-family: 'Noto Sans TC', serif;
}

#offcanvasNavbar .navbar-nav li > a, #offcanvasNavbar .navbar-nav li > a {
	border-bottom:3px solid transparent;
	font-size: 22px;
  }
#offcanvasNavbar .navbar-nav li > a:hover, #offcanvasNavbar .navbar-nav li > a:focus {
	color: #ffffff;
	border-bottom:3px solid #D6699A;
  }
@media (max-width: 576px) {
	.text-sm-center {
		text-align: center;
	}
}
h2.text-luckypopcorn {
	color: #3D7DF7 !important;
	font-size: 36px;
    text-align: center;
	font-weight: bold;
} 
h2.text-luckypopcorn span {
	display: block;
	position: relative;
}
h2.text-luckypopcorn span:before,
h2.text-luckypopcorn span:after {
	content: "";
	position: absolute;
	top: 50%;
	background: #3D7DF7;
	width: 10%;
	height: 2px;
}
h2.text-luckypopcorn span:before {
	left: 33%;
}
h2.text-luckypopcorn span:after {
	right: 33%;
} 
@media (max-width: 1400px) {
	h2.text-luckypopcorn span:before {
		left: 31%;
	}
	h2.text-luckypopcorn span:after {
		right: 31%;
	}
} @media (max-width: 1200px) {
	h2.text-luckypopcorn span:before {
		left: 29%;
	}
	h2.text-luckypopcorn span:after {
		right: 29%;
	}
} 
@media (max-width: 992px) {
	h2.text-luckypopcorn span:before {
		left: 27%;
	}
	h2.text-luckypopcorn span:after {
		right: 27%;
	}
} 
@media (max-width: 768px) {
	h2.text-luckypopcorn span:before {
		left: 25%;
	}
	h2.text-luckypopcorn span:after {
		right: 25%;
	}
} 
@media (max-width: 576px) {
	h2.text-luckypopcorn span:before {
		left: 23%;
	}
	h2.text-luckypopcorn span:after {
		right: 23%;
	}
}
.box-shadow {
	box-shadow: 0 0 5px rgb(148, 148, 148);
	border-radius: 1%;
}
.box-shadow:hover {
	box-shadow: 0 0 10px rgb(148, 148, 148);
	border-radius: 1%;
}
.list-group > a {
	color: #3D7DF7;
	font-size: 20px;
}
.list-group > a:hover {
	background-color: #dadada;
	color: #3D7DF7;
	font-size: 20px;
}
h5.card-title{
	color: #3D7DF7;
	font-size: 20px;
	font-weight: bold;
}
p.card-text {
	color: #616161;
	font-size: 18px;
}
p.card-date {
	color: #b1b1b1;
	font-size: 14px;
	padding-bottom: 10px;
}
p.card-price {
	color: #D56999;
	font-size: 20px;
}
.btn {
    color: #3D7DF7;
    border: 1px solid #3D7DF7;
	border-radius: 5%;
	font-size: 14px;
}
.btn:hover {
    background-color: #3D7DF7;
    color: #fff;
}
