body {
    font-family: $font-family-ch;
    line-height: 24px;
}

.back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: $font-xl;
    transform: translateY(0%);
    transition: 0.5s;
    a {
        color: $price-color;
    }
}

.back-top:hover {
    opacity: 0.5;
}

.back-top.hide {
    transform: translateY(200%);
}

.navbar-brand h1 {
    background-image: url(../images/logo.png);
    width: 275px;
    height: 50px;
    @include hide-text;
}

#offcanvasNavbar .navbar-nav {
    font-size: $font-s;

    a {
        color: rgba(255, 255, 255, 0.5);

        &:hover {
            color: rgb(255, 255, 255);
        }
    }
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8);

    .table {
        font-size: $font-s;
        color: $brand-color;
        white-space: nowrap;
    }

    .totalprice {
        font-size: $font-s;
        color: $price-color;
    }
}

.btn {
    border: 1px solid $brand-color;
    color: $brand-color !important;
    border-radius: 5%;

    &:hover {
        background-color: $brand-color;
        ;
        color: white !important;
        ;
    }
}

.text-luckypopcorn {
    color: $brand-color;
    font-size: $font-xl;
    text-align: center;
    font-weight: bold;

    span {
        display: block;
        position: relative;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            background: $brand-color;
            width: 10%;
            height: 2px;
        }
    }
}

h2.text-luckypopcorn span:before {
    left: 33%;

    @include pad {
        left: 15%;
    }
}

h2.text-luckypopcorn span:after {
    right: 33%;

    @include pad {
        right: 15%;
    }
}

.box-shadow {
    box-shadow: 0 0 5px rgb(148, 148, 148);
    border-radius: 1%;

    &:hover {
        box-shadow: 0 0 10px rgb(148, 148, 148);
        border-radius: 1%;
    }
}

.title {
    color: $brand-color;
    font-size: $font-m;
    font-weight: bold;
}

.price {
    color: $price-color;
    font-size: $font-m;
    font-weight: bold;
}

.date {
    color: $date-color;
    padding: 5px 0;
}

.text {
    color: $text-color;
    text-decoration: none;
}

.modal-title {
    color: white;
}

#registerModal .btn {
    color: $price-color !important;
    border: 1px solid $price-color;

    &:hover {
        background-color: $price-color;
        color: white !important;
    }
}

.footer-text,
.footer-link {
    color: white;
    font-size: $font-s;
}

.input-group {
    border: 1px solid #dadada;
    border-radius: 5%;

    .btn-numminus, .btn-numplus {
        border: 0px solid;
        background-color: transparent;
    }
}

.input-group .form-control {
    border: 0px solid #616161;
}

.product-line span {
    display: block;
    position: relative;
}

.product-line span:before,
.product-line span:after {
    content: "";
    position: absolute;
    top: 50%;
    background: #dadada;
    width: 100%;
    height: 1px;
}