/* 產品內頁 */
.productSwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 5px 0;
}
.productSwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}
.productSwiper .swiper-slide-thumb-active {
    opacity: 1;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}