$text-color:#646464;
$brand-color:#3D7DF7;
$price-color:#D56999;
$date-color:#b1b1b1;
$font-xl:40px;
$font-l:30px;
$font-m:22px;
$font-s:16px;
$font-family-ch: 'Noto Sans TC', serif;
$font-family-eg: 'Montserrat', sans-serif;